    body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar{
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19183B;
    color: white;
    padding: 5px;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.navbar a:hover{
    text-decoration: underline;
}
.icon{
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.footer{
  text-align: center;
  padding: 20px;
  background-color: #19183B;
  color: white; 
}